
.cardHeader {
    width: 95%;
    margin: 0% 2% 0% 2%;
}

.cardContainer {
    border-radius: 3%;
    margin: 1% 1% 1% 1%;
}

.collapsedContent {
    width: 95%;
    margin: 0% 2% 0% 2%;
    font-size: small;
}

.expandedContent {
    width: 95%;
    margin: 0% 2% 0% 2%;
    font-size: small;
    background-color:mistyrose;
}