@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.cardHeader {
    margin-left: 2%;
    padding-right: 3%;
}

.generalText {
    font-family: 'Work Sans';
    font-style: 'normal';
    font-weight: 400;
}

.cardContainer {
    border-radius: 3%;
    margin: 1% 1% 1% 1%;
}

.collapsedContent {
    width: 95%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: small;
}

.expandedContent {
    width: 93%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: small;
}